@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 55% 100%;
    --foreground: 222 54% 1%;
    --muted: 192 35% 85%;
    --muted-foreground: 192 10% 30%;
    --popover: 222 55% 100%;
    --popover-foreground: 222 54% 1%;
    --card: 222 55% 100%;
    --card-foreground: 222 54% 1%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --primary: 222 25% 83%;
    --primary-foreground: 222 25% 23%;
    --secondary: 192 25% 83%;
    --secondary-foreground: 192 25% 23%;
    --accent: 252 25% 83%;
    --accent-foreground: 252 25% 23%;
    --destructive: 6 95% 41%;
    --destructive-foreground: 0 0% 100%;
    --ring: 222 25% 83%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222 52% 0%;
    --foreground: 222 10% 99%;
    --muted: 192 35% 15%;
    --muted-foreground: 192 10% 70%;
    --popover: 222 52% 0%;
    --popover-foreground: 222 10% 99%;
    --card: 222 52% 0%;
    --card-foreground: 222 10% 99%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --primary: 222 25% 83%;
    --primary-foreground: 222 25% 23%;
    --secondary: 192 25% 83%;
    --secondary-foreground: 192 25% 23%;
    --accent: 252 25% 83%;
    --accent-foreground: 252 25% 23%;
    --destructive: 6 95% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 222 25% 83%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
